<main class="main-content" >
    <div class="video-section">
        The video shows Shane on a journey toward reaching an important personal goal. Along the way, he faces challenges, stays determined, and keeps pushing forward. In the end, Shane accomplishes what he set out to do — a moment filled with excitement, pride, and celebration. The skit highlights perseverance, growth, and the joy of achieving something meaningful.
      <div class="video-wrapper mt-2" *ngIf="!videoPlaying" (click)="playVideo()">
        <div class="play-icon">
          ▶
        </div>
        <p class="play-text">Click to play video</p>
      </div>
    
      <video
        #videoPlayer
        *ngIf="videoPlaying"
        class="actual-video"
        controls
        (ended)="videoPlaying = false">
        <source src="https://drive.google.com/uc?export=download&id=1jcgfwMLtBTABu7MGTqJZEWGs7ikcIX9a" type="video/mp4"/>
        Your browser does not support the video tag.
      </video>
<!--     
      <div class="video-footer">
        <div class="duration">
          🔊 Duration: 4-5 minutes
          <p> <a href="https://youtu.be/l_NYrWqUR40?si=FPX8gvS7IJU5HpNY&utm_source=chatgpt.com">Click here</a> to watch video on youtube(to play with subtitles)</p>
        </div>
      </div> -->
    </div>
  </main>