<div class="story-container">
    <header class="story-header">
      <h1>Kofi and the Playground Line</h1>
      <p class="author">A short story slide by Shana LIfe Skills Center</p>
    </header>
    <nav class="story-tabs">
      <button 
        class="tab" 
        [class.active]="activeTab === 'video'" 
        (click)="setActiveTab('video')">
        📷 Picture slide
      </button>
      <button 
        class="tab" 
        [class.active]="activeTab === 'discussion'" 
        (click)="setActiveTab('discussion')">
        💬 Discussion
      </button>
      <button 
        class="tab" 
        [class.active]="activeTab === 'activity'" 
        (click)="setActiveTab('activity')">
        🎨 Activity
      </button>
    </nav>
  
    <!-- Story Summary Section -->
    <section class="summary-card" *ngIf="activeTab === 'video'">
        <app-respect-wk2-l1-story (goNext)="setActiveTab('discussion')"></app-respect-wk2-l1-story>
    </section>
  
    <!-- Discussion Tab -->
    <section class="discussion-card" *ngIf="activeTab === 'discussion'">
        <app-respect-wk2-l1-discussion (goNext)="setActiveTab('activity')"></app-respect-wk2-l1-discussion>
    </section>
  
    <!-- Activity Tab -->
    <section class="discussion-card" *ngIf="activeTab === 'activity'">
        <app-respect-wk2-l1-activity></app-respect-wk2-l1-activity>
    </section>
  </div>
  