<div class="dashboard-container">
    <div class="row">
        <div class="col">
          <div class="stat-card">
            <div class="stat-info">
              <h2>4</h2>
              <p>Lessons</p>
            </div>
            <div class="stat-icon book">
              <i class="fas fa-book"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="stat-card">
            <div class="stat-info">
              <h2>47</h2>
              <p>Stars Earned</p>
            </div>
            <div class="stat-icon star">
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="stat-card">
            <div class="stat-info">
              <h2>2</h2>
              <p>Trophies Won</p>
            </div>
            <div class="stat-icon trophy">
              <i class="fas fa-trophy"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="stat-card">
            <div class="stat-info">
              <h2>4</h2>
              <p>Badges Collected</p>
            </div>
            <div class="stat-icon badge">
              <i class="fas fa-award"></i>
            </div>
          </div>
        </div>
      </div>
      <br> <br>
  
    <!-- Adventures Section -->
    <h2 class="section-title">Your Super Cool Adventures!</h2>
    <div class="adventures">
      <div routerLink="/respect-week1" class="adventure-card">
        <div class="info">
          <h3>Respect for Self</h3>
          <p>Week 1 of 4</p>
        </div>
        <div class="progress">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
        <span class="progress-label">40%</span>
      </div>
      
      <div routerLink="/respect-week2" class="adventure-card">
        <div class="info">
          <h3> Respect for Others</h3>
          <p>Week 2 of 4</p>
        </div>
        <div class="progress">
          <div class="progress-bar" style="width: 15%"></div>
        </div>
        <span class="progress-label">15%</span>
      </div>
  
      <div class="adventure-card">
        <div class="info">
          <h3>Respect for Belongings (Yours + Others’)</h3>
          <p>Week 3 of 4</p>
        </div>
        <div class="progress">
          <div class="progress-bar" style="width: 75%"></div>
        </div>
        <span class="progress-label">75%</span>
      </div>
  
      <div class="adventure-card">
        <div class="info">
          <h3>Respect for Differences</h3>
          <p>Week 4 of 4</p>
        </div>
        <div class="progress">
          <div class="progress-bar" style="width: 30%"></div>
        </div>
        <span class="progress-label">30%</span>
      </div>
    </div>
  </div>
  