<div class="dashboard-container">
    <div class="stats">
      <div class="stat-card">
        <div class="stat-info">
          <h2>4</h2>
          <p>Lessons</p>
        </div>
        <div class="stat-icon book">
          <i class="fas fa-book"></i>
        </div>
      </div>
      
      <div class="stat-card">
        <div class="stat-info">
          <h2>{{user?.stars || '0'}}</h2>
          <p>Stars Earned</p>
        </div>
        <div class="stat-icon star">
          <i class="fas fa-star"></i>
        </div>
      </div>
      
      <div class="stat-card">
        <div class="stat-info">
          <h2>{{user?.trophies || '0'}}</h2>
          <p>Trophies Won</p>
        </div>
        <div class="stat-icon trophy">
          <i class="fas fa-trophy"></i>
        </div>
      </div>
      
      <div class="stat-card">
        <div class="stat-info">
          <h2>{{user?.badges || '0'}}</h2>
          <p>Badges Collected</p>
        </div>
        <div class="stat-icon badge">
          <i class="fas fa-award"></i>
        </div>
      </div>
    </div>
  
    <br>
  
    <h2 class="section-title">Your Super Cool Adventures!</h2>
    <div class="adventures">
      <div *ngFor="let adv of adventures" [routerLink]="adv.link" class="adventure-card">
        <div class="info">
          <h3>{{ adv.title }}</h3>
          <p>{{ adv.subtitle }}</p>
        </div>
        <div class="progress">
          <div class="progress-bar" [style.width.%]="adv.progress"></div>
        </div>
        <span class="progress-label">{{ adv.progress }}%</span>
      </div>
    </div>
    
  </div>