<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow p-4" style="width: 400px;">
    <h4 class="text-center mb-3">Set New Password</h4>
    <p class="text-muted text-center">
      Enter your new password below.
    </p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter new password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">Minimum 6 characters</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          placeholder="Confirm new password"
          [ngClass]="{
            'is-invalid':
              submitted &&
              (f['confirmPassword'].errors || resetPasswordForm.errors?.['passwordMismatch'])
          }"
        />
        <div
          *ngIf="
            submitted &&
            (f['confirmPassword'].errors || resetPasswordForm.errors?.['passwordMismatch'])
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['confirmPassword'].errors?.['required']">Confirmation is required</div>
          <div *ngIf="resetPasswordForm.errors?.['passwordMismatch']">
            Passwords do not match
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success w-100">Reset Password</button>
    </form>

    <div class="text-center mt-3">
      <a [routerLink]="'/login'">Back to Login</a>
    </div>
  </div>
</div>
