<main class="main-content" >
    <div class="video-section">
        Anne had always been quiet in class, often avoiding eye contact whenever questions were asked. But today was different. Summoning a bit of courage, she raised her hand and answered confidently. The teacher smiled and nodded in approval, and a small wave of pride washed over Anne — she realized that speaking up wasn’t as scary as she had imagined.
      <div class="video-wrapper mt-2" *ngIf="!videoPlaying" (click)="playVideo()">
        <div class="play-icon">
          ▶
        </div>
        <p class="play-text">Click to play video</p>
      </div>
    
      <video
        #videoPlayer
        *ngIf="videoPlaying"
        class="actual-video"
        controls
        (ended)="videoPlaying = false">
        <source src="https://drive.google.com/uc?export=download&id=1jcgfwMLtBTABu7MGTqJZEWGs7ikcIX9a" type="video/mp4"/>
        Your browser does not support the video tag.
      </video>
<!--     
      <div class="video-footer">
        <div class="duration">
          🔊 Duration: 4-5 minutes
          <p> <a href="https://youtu.be/l_NYrWqUR40?si=FPX8gvS7IJU5HpNY&utm_source=chatgpt.com">Click here</a> to watch video on youtube(to play with subtitles)</p>
        </div>
      </div> -->
    </div>
    <br>
    <button class="activity-btn">Proceed to discussion section ➡️</button>
  </main>