<div class="story-container">
    <header class="story-header">
      <h1>📹 Anne answers a question in class after being shy.</h1>
      <p class="author">short skit/video</p>
    </header>
    <nav class="story-tabs">
      <button 
        class="tab" 
        [class.active]="activeTab === 'video'" 
        (click)="setActiveTab('video')">
        📹 Video
      </button>
      <button 
        class="tab" 
        [class.active]="activeTab === 'discussion'" 
        (click)="setActiveTab('discussion')">
        💬 Discussion
      </button>
      <button 
        class="tab" 
        [class.active]="activeTab === 'activity'" 
        (click)="setActiveTab('activity')">
        🎨 Activity
      </button>
    </nav>
  
    <!-- Story Summary Section -->
    <section class="summary-card" *ngIf="activeTab === 'video'">
        <app-week3-l2-video></app-week3-l2-video>
    </section>
  
    <!-- Discussion Tab -->
    <section class="discussion-card" *ngIf="activeTab === 'discussion'">
        <app-week3-l2-discussion></app-week3-l2-discussion>
    </section>
  
    <!-- Activity Tab -->
    <section class="discussion-card" *ngIf="activeTab === 'activity'">
        <app-week3-l2-activity></app-week3-l2-activity>
      
      <button class="activity-btn">Submit Your Reflection</button>
      &nbsp;
      <button routerLink="/confidence-week3-l3" class="save-btn">Next Lesson ➡️</button>
    </section>
  </div>
  