<div class="full-login-page">
    <div class="left-pane">
      <div class="login-box">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h1 class="portal-title">Learning Portal</h1>
          <p class="text-muted">
            Your gateway to amazing discoveries and fun learning adventures!
          </p>
          <br>
          <label for="username">Username or Email</label>
          <div class="form-group">
            <input type="email" formControlName="email" placeholder="student@shana.edu" />
          </div>
          <label>Password</label>
          <div class="form-group">
            <input type="password" formControlName="password" placeholder="Enter your password" />
          </div>
  
          <div class="options">
            <label><input type="checkbox" /> Remember me</label>
            <a href="#">Forgot password?</a>
          </div>
  
          <button type="submit" class="btn-primary">
            💬 Sign In to Dashboard
          </button>
  
          <div class="footer-text">
            New student? <a href="#">Create an account</a>
          </div>
        </form>
  
        <footer>© 2025 ShanaPortal. All rights reserved.</footer>
      </div>
    </div>
    <div class="right-pane">
      <img style="height: 597px; width: 800px;" src="assets/teacher-students.jpg" alt="Learning Illustration" />
    </div>
  </div>