<div class="page">
    <div class="greeting">
      ☀️ Good Morning, Sunshine!
    </div>
  
    <h1>Believe in Yourself</h1>
    <p class="subtitle">Today is your day to shine ✨</p>
    <div class="week-badge">
      This Week 💛
    </div>
  
    <div class="cards">
      <div class="card">
        <img src="assets/mirror-kindness.png" class="card-image" />
  
        <h3>✨ Challenge of the Week</h3>
        <p class="card-text">
          Say one kind thing to yourself every morning!
          <span class="highlight">Practice makes perfect</span>
        </p>
        <div class="progress">
          <span
            *ngFor="let d of daysArray; let i = index"
            class="dot"
            [class.active]="i < completedDays">
            ✓
          </span>
        </div>
  
        <p class="progress-text">
          {{ completedDays }} of {{ totalDays }} days completed
        </p>
  
      </div>
      <div class="card">
        <img src="assets/confidence-hero.png" class="card-image" />
        <h3>💛 Confidence Line</h3>
        <p class="quote">
          “Respect starts with me.”
        </p>
        <div class="actions">
          <button class="btn secondary">Share 💌</button>
          <button class="btn primary">New Quote ✨</button>
        </div>
      </div>
    </div>
  
    <button class="submit-btn" (click)="completeLesson()">
        Complete Lesson ✅
      </button>
  
  </div>


    <!-- MODAL -->
<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal-card">
      <div class="modal-emoji">🎉</div>
      <h2>Good Job!</h2>
      <p>You did an amazing job.<br>Proceed to the next lesson!</p>
      <button class="next-btn" routerLink="/respect-module">
        Back To Dashboard ➡️
      </button>
    </div>
  </div>
  