<div class="welcome-container">
    <div class="challenge-container">
        <div class="challenge-card">
          <h2 class="challenge-title">⭐ Challenge of the Week ⭐</h2>
          <div class="challenge-box">
            <h3>My Me Plan</h3>
            <div class="challenge-description">
              Finish and keep your <span class="highlight">Identity Plan</span>. Bring it to show next week
              or hang it up at home!
            </div>
          </div>
          <div class="challenge-actions">
            <button routerLink="/fifth-week-level7" class="btn ideas"> Next Lesson 🚀  </button>
          </div>
          <p class="challenge-note">
            Remember: This is all about discovering the amazing YOU! ✨
          </p>
        </div>
      </div>
      
  </div>
  