
<div class="card">
    <header class="hero-section">
        <div class="hero-content">
          <h1>Victory Dance!<span class="spark">💃</span></h1>
          <p>Everyone does a small dance move to celebrate something they’re proud of.</p>
        </div>
      </header>
    <div class="emoji-top-left">🎉</div>
    <div class="emoji-top-right">💃</div>
  
    <div class="image-container">
      <img src="assets/guys.jpg" alt="Celebration" />
    </div>
  
    <div class="banner" routerLink="/fourth-week-level2">The most fun warm-up game ever! 🎈</div>
  
    <div class="emoji-bottom-right">⭐</div>
  </div>
  