<div class="challenge-container">
    <div class="challenge-card">
      <div class="badge">Challenge of the Week</div>
  
      <h1 class="challenge-title">
        Teach or encourage someone younger <br />
        with something you learned.
      </h1>
  
      <div class="underline"></div>
  
      <p class="challenge-subtext">
        Share your wisdom and inspire the next generation
      </p>
      <button routerLink="/confidence-week4-l4" class="save-btn mt-3">Next Lesson ➡️</button>
    </div>
  </div>
  