<aside class="sidebar">
    <nav class="nav-links">
      <a routerLink="/dashboard" routerLinkActive="active">🏠 Dashboard</a>
      <!-- <a routerLink="/identity-module" routerLinkActive="active">🪪 Identity Module</a>
      <a routerLink="/confidence-module" routerLinkActive="active">💪  Confidence Module</a>
      <a routerLink="/planning-module" routerLinkActive="active">🗓️ Planning Module</a>
      <a routerLink="/integrity-module" routerLinkActive="active">💯 Integrity Module</a> -->
      <a routerLink="/respect-module" routerLinkActive="active">🫡 Respect Module</a>
      <!-- <a routerLink="/empathy-module" routerLinkActive="active">🫶 Empathy Module</a>
      <a routerLink="/home" routerLinkActive="active"><i class="icon">📝</i> Assignments</a> -->
    </nav>
  </aside>
  