<aside class="sidebar">
    <nav class="nav-links">
      <a routerLink="/dashboard" routerLinkActive="active"><i class="icon">🏠</i> Dashboard</a>
      <!-- <a routerLink="/assignments" routerLinkActive="active"><i class="icon">📘</i> Courses</a> -->
      <a routerLink="/home" routerLinkActive="active"><i class="icon">📝</i> Assignments</a>
      <!-- <a routerLink="/grades" routerLinkActive="active"><i class="icon">🎯</i> Progress</a>
      <a routerLink="/calendar" routerLinkActive="active"><i class="icon">📅</i> Calendar</a>
      <a routerLink="/settings" routerLinkActive="active"><i class="icon">⚙️</i> Settings</a> -->
    </nav>
  </aside>
  