<div class="confident-container">
    <!-- Week Badge -->
    <div class="week-badge">Week 3</div>
  
    <!-- Title -->
    <h1 class="confident-title">My Confident Voice</h1>
    <p class="practice-text">Practice</p>
  
    <!-- Objectives Card -->
    <div class="objectives-card">
      <h3 class="objectives-title">Objectives</h3>
      <ul class="objectives-list">
        <li>
          <span class="icon">✔</span>
          Practice speaking up and expressing ideas.
        </li>
        <li>
          <span class="icon">✔</span>
          Learn about positive body language.
        </li>
      </ul>
    </div>
  
    <!-- Decorative line -->
    <div class="line"></div>
    <br>
    <button routerLink="/confidence-week3-l1" class="save-btn text">Start Your Journey</button>
  </div>
  