<main class="main-content" >
    <div class="video-section">
      In this TEDxYouth talk, Nelisiwe Sibanda shares how being different is not something to hide but something to celebrate. She explains that our uniqueness is what makes us strong and helps us stand out in the world.
     <p class="theme-note"> ⭐ Key Lesson: You don’t need to be like everyone else to be special. What makes you you , your personality, your kindness, and your choices is what truly matters!</p>
      <div class="video-wrapper">
        <div class="play-icon">
          ▶
        </div>
        <p class="play-text">Click to play video</p>
      </div>
    
      <video
        #videoPlayer
        class="actual-video"
        controls>
        <source src="https://drive.google.com/uc?export=download&id=1jcgfwMLtBTABu7MGTqJZEWGs7ikcIX9a" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    
      <div class="video-footer">
        <div class="duration">
          🔊 Duration: 1–2 minutes
          <p> <a href="https://www.youtube.com/watch?v=-00CebqSBgU">Click here</a> to watch video on youtube(to play with subtitles)</p>
        </div>
      </div>
    </div>
  </main>