.bravery-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(120deg, #f7ac95, #4791c5);
  color: #fff;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  gap: 40px;
  flex-wrap: wrap;
}

/* Tag */
.tag {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
}

/* Title */
.title {
  font-size: 52px;
  font-weight: 800;
  /* margin-top: 20px; */
  /* margin-bottom: 15px; */
  width: 100%;
  max-width: 480px;
}

/* Subtitle */
.subtitle {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
  color: #f8f8f8;
  margin-bottom: 30px;
}

/* Image */
.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.image-box img {
  width: 100%;
  max-width: 550px;
  border-radius: 16px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 900px) {
  .bravery-container {
    flex-direction: column;
    text-align: center;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 16px;
    margin: 0 auto 25px;
  }
  .image-box img {
    max-width: 400px;
  }
}
