body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }


.btn-special {
  background: linear-gradient(to right, #9b5de5, #f15bb5);
  color: #fff;
  border: none;

  &:hover {
    opacity: 0.9;
  }
}


.btn-yellow{
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 color: #fff;
  border: none;

  &:hover {
    opacity: 0.9;
  }
}

.clickable{
    cursor: pointer;
}

.card-hover{
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    &:hover{
        webkit-transform: translateY(-4px) scale(1.01);
        -moz-transform: translateY(-4px) scale(1.01);
        -ms-transform: translateY(-4px) scale(1.01);
        -o-transform: translateY(-4px) scale(1.01);
        transform: translateY(-4px) scale(1.01);
        -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.1);
        box-shadow: 0 14px 24px rgba(62,57,107,.1);
    }
}
