<!-- <div class="navbar">
   <div class="brand">
    <img style="height: 200px; width: 200px;" src="assets/shana.png" alt="Learning Illustration" />
  </div>
    <div class="right">
      <div class="notification">
        🔔
        <span class="badge">3</span>
      </div>
      <div class="user-info">
        <img src="assets/user.png" alt="User Avatar" />
        <span>Jane Doe</span>
      </div>
    </div>
  </div> -->


  <nav class="navbar">
    <div class="navbar-brand">
      <img src="assets/shana.png" alt="Logo" class="brand-logo" />
    </div>
    
    
    <div class="navbar-actions">
      <div class="notification">
        🔔
        <span class="badge">3</span>
      </div>
      <img class="avatar" src="assets/user.png" alt="User" />
      <span class="user-name">Jane Doe</span>
    </div>
  </nav>
  