  <nav class="navbar">
    <div class="navbar-brand">
      <img src="assets/shana.png" alt="Logo" class="brand-logo" />
    </div>
    
    <div class="navbar-actions">
      <img class="avatar" [src]="user?.imageUrl || 'assets/default-user.png'" 
     (error)="$any($event.target).src = 'assets/default-user.png'" alt="User"/>
      <div class="user-info">
        <!-- <span class="user-name">{{ user.name }}</span> -->
        <span class="user-name">{{user.firstName}} {{user.lastName}}</span>
        <span class="user-role">Student</span> 
      </div>
    </div>
  </nav>

<div class="breadcrumb-container border-bottom bg-light px-4 py-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a routerLink="/dashboard" class="text-decoration-none text-muted">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/respect-module" class="text-decoration-none text-muted">Respect Module</a></li>
      <li class="breadcrumb-item active" aria-current="page">Week 1</li>
    </ol>
  </nav>
</div>