
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
  }

.btn.active {
  background-color: #0d9488 !important;
  color: white !important;
  border: none !important;
}

.gradient-text {
  background: linear-gradient(to right, #9b5de5, #f15bb5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formcard {
  border: 2px solid transparent;
  background-clip: padding-box;
  position: relative;

  border-radius: 12px;
  padding: 2px;
  /* background: linear-gradient(45deg, #9b5de5, #f15bb5); */
}

/* formcard */
.formcard::before {
  z-index: -99;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(45deg, #9b5de5, #f15bb5);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.btn-primary {
    background-color: #116997;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0e577d;
  }

label {
  position: relative;
  display: block;
  margin-bottom: 1.2rem;
}

.inputtype {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 0.95rem;
  background: transparent;
}

.inputtype:focus {
  border-color: #2575fc;
}

/* Floating label effect */
label span {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 0.85rem;
  color: #999;
  transition: 0.3s ease;
  pointer-events: none;
}

.inputtype:focus + span,
.inputtype:not(:placeholder-shown) + span {
  top: -10px;
  left: 8px;
  font-size: 0.75rem;
  color: #2575fc;
  background: #fff;
  padding: 0 4px;
}

