<div class="full-login-page">
    <div class="left-pane">
      <div class="login-box">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h6 class="gradient-text text-center"> Welcome To  </h6>
           <h2 class="mb-4   fs-3 text-center">✨ <span class="gradient-text"><strong>Shana LifeSkills Center</strong></span> ✨</h2>
            <div class="text-center my-3">
            <img src="assets/shana.png" alt="University Logo" class="img-fluid" style="height: 90px;">
          </div>
           <h5 class="text-center fw-light">
            Log In As
           </h5>
            <div class="btn-group w-100 mb-5" role="group" style="border-radius: 40px;">
              <!-- btn-special -->
            <button type="button" class="btn btn-outline-dark border-1 " [ngClass]="{'btn-special':role === 'student'}"

                    (click)="selectRole('student')">Student</button>
            <button type="button" class="btn btn-outline-secondary border-1 "
                    [ngClass]="{'btn-special':role === 'trainer'}"
                    (click)="selectRole('trainer')">Trainer</button>
          </div>
          <div class="mt-1">
          <label class="mb-0"> <small>  Email Address </small></label>
          <div class="input-group">
            <input type="email" formControlName="email" placeholder="student@shana.edu" />
          </div>
            <br>
          <label><small> Password </small> </label>
          <div class="input-group">
            <input type="password" formControlName="password" placeholder="Enter your password" />
          </div>

          <div class="options">
            <label><input type="checkbox" /> Remember me</label>
            <a routerLink="/forgotpassword">Forgot password?</a>
          </div>

          <button type="submit" class="btn-primary">
            Sign In  <i class="fa fa-arrow-right ms-2"></i>
          </button>
          </div>

          <div class="footer-text">
            New student? <a routerLink="/signUp">Create an account</a>
          </div>
        </form>

        <footer>© 2025 ShanaPortal. All rights reserved.</footer>
      </div>
    </div>

    <!-- Right pane: Hero image or branding -->
    <div class="right-pane">
      <img style="height: 597px; width: 800px;" src="assets/hero-strengths.jpg" alt="Learning Illustration" />
    </div>
  </div>
